      .node {
        stroke: #fff;
        stroke-width: 2px;
        cursor: pointer;
      }
      .link {
        stroke: #999;
        stroke-opacity: 0.6;
      }
      .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 90vw;
        justify-content: space-evenly;
        gap: 10px;
        margin-bottom: 20px;
        background-color: #ffffff;
      }
      .container_div {
        text-align: justify;
        font-size: x-large;
        padding: 10px;
        margin-bottom: 15px;
        box-shadow: 10px 10px 2px 1px rgb(0 0 255 / 0.1);
        height: 280px;
        min-width: 30vw;
        margin-left: 100px;
        border: 1px solid #ccc;
        border-radius: 50px;
        background-color: #ffffff;
        text-align: center;
        color: rgb(0, 17, 255);
      }