.container {
  width: 100%;
  height: 100%;
  text-align: center;
}

.barra {
  width: 960px;
  height: 20px;
  /*background: #c8ff0042;*/
  background: #0e120042;
  margin: auto;
  margin-top: -310px;
  border-radius: 1rem;
  cursor: grab;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.maniglie {
  height: 16px;
  background: #4caf50;
  border-radius: 1rem;
  position: relative;
  top: 1px;
  left: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
.maniglie:hover {
  height: 16px;
  background: #4caf50;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0 0 100px rgba(76, 175, 80, 0.8);
  top: 1px;
  left: 0px;
}
